loguru==0.5.3
matplotlib==3.6.3
numpy==1.25.0
onnxruntime-gpu==1.13.1
onnxruntime==1.10.0
opencv-contrib-python==4.5.4.60
opencv-python==4.6.0.66
pyrealsense2==2.53.1.4623
pyserial==3.5
pyzbar==0.1.9
scipy==1.10.1
simple-pid==1.0.1
